.topicCard {
  display: flex;
  flex-direction: column;
  min-height: 100px;

  .image {
    border-radius: 12px;
    width: 100% !important;
  }

  .cardContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.1rem;
    padding: 1rem;
    max-width: 100%;
  }
}
