.cardArgumentCreate {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border: none;

  &:hover {
    background-color: var(--color-secondary-hover);
  }
}

.lineaButton {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
