.header-font {
  font-family: var(--font-body);
}

.title-header {
  font-family: var(--font-hero);
}

.title-subheader {
  font-family: var(--font-body);
}

.sidebar-main {
  width: 200px;
  padding: 20px;
  height: 53vh;
}

.inter {
  font-family: var(--font-body);
}
