.previewWrapper {
  position: relative;
  margin-bottom: 1.5rem;

  .hoverButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border-radius: var(--radius-button);
    background-color: var(--color-light-50);
    box-shadow: 0 1px 3px var(--shadow-card);
    opacity: 0;

    &:hover {
      background-color: var(--color-light-50);
    }
  }

  &:hover .hoverButton {
    opacity: 1;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-right: 1.5rem;
}
